* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "sass/colors";
@import "sass/layout";

@import "sass/typography";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;

  background-color: $white-light;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $white-dark;
  }
}

.btn {
  display: inline-block;
  color: $white-light;
  transition: 0.6s ease;
  padding: 8px 24px;
  text-align: center;
  border: 0;
  width: 100%;

  background: linear-gradient(
    269.73deg,
    #f8d629 1.16%,
    rgba(188, 235, 54, 0.92) 98.13%
  );
  border-radius: 4px;

  @include typeface-2(p3, desktop);
  @include responsive(s) {
    @include typeface-2(p3, mobile);
    padding: 16px 24px;
  }
  @include responsive(xs) {
    @include typeface-2(p3, smallmobile);
    padding: 16px 24px;
  }

  position: relative;

  &:hover {
    opacity: 0.8;
  }
}

svg,
img {
  width: 100%;
  //height: auto;
}
